.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: chartreuse;
}

body{
  margin: 0;
  padding: 0;
}

h1{
  font-size: xx-large;
  font-weight: bolder ;
}